@font-face {
    font-family: 'bariol_boldbold';
    src: url('bariol_bold-webfont.eot');
    src: url('bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_bold-webfont.woff') format('woff'),
         url('bariol_bold-webfont.ttf') format('truetype'),
         url('bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bariol_lightlight';
    src: url('bariol_light-webfont.eot');
    src: url('bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_light-webfont.woff') format('woff'),
         url('bariol_light-webfont.ttf') format('truetype'),
         url('bariol_light-webfont.svg#bariol_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bariol_regularregular';
    src: url('bariol_regular-webfont.eot');
    src: url('bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_regular-webfont.woff') format('woff'),
         url('bariol_regular-webfont.ttf') format('truetype'),
         url('bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bariol_thinregular';
    src: url('bariol_thin-webfont.eot');
    src: url('bariol_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_thin-webfont.woff') format('woff'),
         url('bariol_thin-webfont.ttf') format('truetype'),
         url('bariol_thin-webfont.svg#bariol_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: bariol_regularregular;
		background-color: #ff2828;
		font-size: 100%;
	}

	header {
		font-family: bariol_boldbold;
		letter-spacing: 0.07em;
		padding-top: 25px;
		padding-bottom: 12px;
	}

	nav ul {
		text-align: right;
	}

	nav li {
	font-size: 71px;
	line-height: 71px;
	padding-left: 60px;
	display: inline-block;

	}
	
	
	section {
		height: auto;
		font-family: bariol_regularregular;
		font-size: 3.5rem;
		line-height: 4rem;
	}

	.topmargin.container {
		padding-top: 100px;
	}

	
	a {
		text-decoration: none;
		color: black;
	}

	#mainnav a:hover {
		text-decoration: none;
		color: red;
		-webkit-transition: color .18s linear;
		-moz-transition: color .18s linear;
		-o-transition: color .18s linear;
		transition: color .18s linear;
		}


	a:hover {
		text-decoration: underline;
		}

	footer {
		padding-top: 15px;
		font-family: bariol_regularregular;
		font-size: 1.1rem;
		}


	h1 { 
		font-size: 2rem;
		font-family: bariol_boldbold;
		line-height: 2rem;
		text-transform: uppercase;
		font-weight: normal;
	}


	h2 {
		font-size: 1.6rem;
		font-family: bariol_regularregular;
		line-height: 1.8rem;
		text-transform: uppercase;
		font-weight: normal;

	}

	h6 {
		margin-top: 25px;
		font-family: bariol_regularregular;
		font-size: 1.1rem;
		line-height: 1.38rem;
	}	

	p {
		font-size: 1.6rem;
		font-family: bariol_regularregular;
		line-height: 2rem;
	}

.container {
		padding-top: 300px;
		padding-bottom: 300px;
}


#work section div {
		margin-top: 100px;
	}

#worknav {
	height: 250px;
	background-color: black;
}

#worknav li {
	padding: 0;
}

.fixedwrapper{
	position:	fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: white; 
	line-height: 27px;
	}

.fixedwrapper .container, .fixedfooter .container {
	padding-top: 0;
	padding-bottom: 0;
}

.logo {
	font-size: 27px;
	float: left;
}	

.logobig {
	font-size: 32px;
}

.logored {
	color: #ff2828;
}

.topmargin {
	margin-top: 121px;
}

#home p, #who p {
	color: white;
	font-size: 3.5rem;
	line-height: 4rem;
	margin-bottom: 65px;
} 

.work {
	background-color: #f0f0f0;
}

.work  div {
	color: black;
}
.line {
	display: block;
	border-bottom: 3px solid black;
	margin-top: 25px;
	margin-bottom: 25px;
}

.images {
	background-color: green;
	height: 525px;
}

.fixedfooter {
	position: fixed;
	background-color: white;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
}

.floatright {
	float: right;
}


/* ============================= */
/* ! Layout for smallish version   */
/* ============================= */

@media only screen and (max-width: 1140px) {


	.fixedwrapper{
		position: relative;
	}

	.topmargin{
		margin-top: 0;
	}
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}


	nav ul {
		padding-top: 20px;
		text-align: right;
	}

	nav li {
	font-size: 18px;
	line-height: 26px;
	padding-left: 10px;
	display: inline-block;

	}


}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}