@font-face {
    font-family: 'bariol_boldbold';
    src: url('bariol_bold-webfont.eot');
    src: url('bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_bold-webfont.woff') format('woff'),
         url('bariol_bold-webfont.ttf') format('truetype'),
         url('bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bariol_lightlight';
    src: url('bariol_light-webfont.eot');
    src: url('bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_light-webfont.woff') format('woff'),
         url('bariol_light-webfont.ttf') format('truetype'),
         url('bariol_light-webfont.svg#bariol_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bariol_regularregular';
    src: url('bariol_regular-webfont.eot');
    src: url('bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_regular-webfont.woff') format('woff'),
         url('bariol_regular-webfont.ttf') format('truetype'),
         url('bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bariol_thinregular';
    src: url('bariol_thin-webfont.eot');
    src: url('bariol_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_thin-webfont.woff') format('woff'),
         url('bariol_thin-webfont.ttf') format('truetype'),
         url('bariol_thin-webfont.svg#bariol_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: bariol_regularregular;
		background-color: #ff2828;
		font-size: 100%;
	}

	header {
		font-family: bariol_boldbold;
		padding-top: 18px;
		padding-bottom: 11px;
	}

	nav ul {
		text-align: right;
	}

	nav li {
	font-size: 71px;
	line-height: 71px;
	padding-left: 60px;
	display: inline-block;
	}
	
	
	section {
		height: auto;
		font-family: bariol_regularregular;
	}

	.topmargin.container {
		padding-top: 1rem;
	}

	
	a {
		text-decoration: none;
		color: black;
	}

	#mainnav a:hover {
		text-decoration: none;
		color: red;
		-webkit-transition: color .18s linear;
		-moz-transition: color .18s linear;
		-o-transition: color .18s linear;
		transition: color .18s linear;
		}


	a:hover {
		text-decoration: underline;
		}

	footer {
		padding-top: 15px;
		font-family: bariol_regularregular;
		font-size: 17px
		}


	h1 { 
		font-family: bariol_boldbold;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 0.55rem;
		line-height: 0.6rem;
	}


	h2 {
		font-family: bariol_regularregular;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 0.45rem;
		line-height: 0.50rem;
	}

	h6 {
		margin-top: 0.5rem;
		font-family: bariol_regularregular;
		font-weight: normal;
		font-size: 0.35rem;
		line-height: 0.42rem;
	}	

	p {
		font-family: bariol_regularregular;
		line-height: 1.2rem;
}

.container {
		padding-top: 3.5rem;
		padding-bottom: 3.5rem;
}


#work section div {
		margin-top: 100px;
	}

#worknav {
	height: 250px;
	background-color: black;
}

#worknav li {
	padding: 0;
}

.fixedwrapper{
	position:	fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: white; 
	line-height: 27px;
	}

.fixedwrapper .container, .fixedfooter .container {
	padding-top: 0;
	padding-bottom: 0;
}

.twelvecol a {
	display: inline-block;
	overflow: none;
}

.logo {
	padding-top: 8px;
	font-size: 27px;
	float: left;
	letter-spacing: 0.05em;
}	

.logobig {
	font-size: 32px;
}

.logored {
	color: #ff2828;
}

.topmargin {
	margin-top: 121px;
}

#home p, #who p {
	color: white;
	margin-bottom: 1rem;
} 

.work {
	background-color: #f0f0f0;
}

.work  div {
	color: black;
}

.work p {
	font-size: 0.5rem;
	line-height: 0.6rem;	
}

.line {
	display: block;
	border-bottom: 2px solid black;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.images {
	background-color: green;
	height: 525px;
}

.fixedfooter {
	position: fixed;
	background-color: white;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
}

.fixedfooter img {

	width: 27px;
	margin-top: -2px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}

.floatright {
	float: right;
}


/* ============================= */
/* ! Layout for smallish version   */
/* ============================= */

@media only screen and (max-width: 1140px) {

	body {
	}

	.fixedwrapper{
		position: fixed;
	}

	.topmargin{
		padding-top: 1rem;
	}
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {


	h1 { 
		font-family: bariol_boldbold;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1.2rem;

	}


	h2 {
		font-family: bariol_regularregular;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 0.9rem;
		line-height: 1.1rem;
	}

	h6 {
		margin-top: 0.65rem;
		font-family: bariol_regularregular;
		font-weight: normal;
		font-size: 0.65rem;
		line-height: 0.8rem;
	}	

	#work p {
	font-size: 0.9rem;
	line-height: 1.1rem;	
	}

	#work section div {
		margin-top: 1rem;
	}

	.line {
	display: block;
	border-bottom: 2px solid black;
	margin-top: 0.65rem;
	margin-bottom: 0.65rem;
}

}


@media handheld, only screen and (max-width: 703px) {



.logo {
	padding-top: 8px;
	font-size: 27px;
	float: left;
	letter-spacing: 0.05em;
}	

	nav li {
	padding-top: 37px;
	padding-left: 22px;
	font-size: 27px;
	line-height: 27px;
	float: right;
	display: inline-block;
}
	
	nav li:first-child  {
		padding-left: none;
	}

}



/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}