<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>ANDREAS FREY SANG | Interaction Designer</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
	
	<!-- Your styles -->
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/behance.css" type="text/css" media="screen" />
	
	<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
	<script type="text/javascript" src="js/css3-mediaqueries.js"></script>


	<script type="text/javascript" src="js/jquery.js"></script>
	
	<!--Responsive Measure Javascript file-->
	<script src="js/jquery.rm.js"></script>
	<script type="text/javascript">
	
		$(document).ready(function() {
	 
		 	$('.armone').responsiveMeasure({
				idealLineLength: 49,
				minimumFontSize: 22,
				maximumFontSize: 300,
				ratio: 4/3
			});
	
		});
	</script>


	<!--Smooth scrolling Javascript file-->
	<script type="text/javascript" src="js/jquery.smooth-scroll.min.js"></script>
	<script type="text/javascript">
	
		$(document).ready(function() {
	
			$('#mainnav a').smoothScroll({speed: 600});
			$('#mainnav a').first().smoothScroll({offset: -250, speed: 600});
	
			$('footer a').last().smoothScroll({offset: -250, speed: 600});
	
		});
	
	</script>


	<script type="text/javascript">
	
		$(document).ready(function() {
	
			$('#home').css('min-height', $(window).height());
	
		});
	
	</script>


</head>

<body>

	<div id="mainnav" class="fixedwrapper">
		<div class="container">
			<header class="row">
				<div class="twelvecol last">
				<div class="logo">
						<a href="#home">
							<span class="logobig">ANDREAS</span><br>FREY
							<span class="logored">SANG</span>
						</a>
					</div>
					<nav class="last">
						<ul>
							<li><a href="#work">WORK<span>!</span></a></li>
							<li><a href="#who">WHO<span>?</span></a></li>
						</ul>
					</nav>
				</div>
			</header>
		</div>
	</div>



	<div id="home" class="container topmargin">
		<section class="row">
			<div class="twelvecol last armone">
				<p>Hi there, and welcome to my personal portfolio page. It’s lovely to have another visitor over here!</p>
				<p>My name is Andreas Frey Sang and I’m a young Interaction Designer based in Bern, Switzerland.</p> 
				<p>I don’t wanna bore you so have a look/scroll around and send me a <a href="mailto:freysang@gmail.com" target="blank">message</a> if you want to.</p> 
			</div>
		</section>
	</div>



	<div id="work" class="container work">
		<nav id="worknav" class="row">
			<div class="twelvecol last">
			    <a class="buttons prev" href="#">
			    	<img src="images/lebutton.svg" alt="left" />
			    </a>
			    <div class="viewport">
			    	<ul class="overview">
			    		<li>loading</li>
			    	</ul>
					<script type="text/template" id="tplNavListItem">
						<li data-id="<%=id %>">
							<a href="#works/<%=id%>">
								<img src="<%=cover%>" alt="<%=name%>"/>
							</a>
						</li>
					</script>
				</div>
			    <a class="buttons next" href="#">
			    	<img src="images/lebutton.svg" alt="right" />
			    </a>
		    	<ul class="pager">
		    		<li>loading</li>
		    	</ul>
				<script type="text/template" id="tplNavPagerItem">
		        	<li>
		        		<a rel="<%= index %>" class="pagenum" href="#"></a>
		        	</li>
		       </script>
			</div>
		</nav>
		<section id="stage" class="row">
			<script type="text/template" id="tplStage">
				<div class="ninecol images">
					<div id="galleria" >
					<% for(var i in images) { %>
						<a href="<%= images[i].original %>">
				           <img src="<%= images[i].thumb %>" data-title="<%= images[i].caption %>" alt="<%= images[i].caption %>"/>
						</a>
					<% } %>
					</div>
				</div>
				<div class="threecol last">
					<h1><%= name %></h1>
					<h2><%= byline %></h2>
			        <hr class="line"/>
					<p><%= longDescription %></p>
				</div>
			</script>
		</section>
	</div>



	<div id="who" class="container">
		<section class="row">
			<div class="twelvecol last">
				<p>This is my personal portfolio page. My name is Andreas Frey Sang and I am a 22 year old Interaction Designer from Bern, Switzerland.</p>
				<p>I am currently studying Interaction Design at the School of Design in Bern and working at MediaparX AG in Bern.</p>
				<p>I have a great passion for <a href="http://en.wikipedia.org/wiki/Interaction_design" target="blank">Interaction Design</a> – this job is more than just pixel pushing and vector beziers – yeah i really sweat blood during projects. 
				<p>We humans are constantly interacting in so many aspects of our life. It’s up to us designers to create Interactive Experiences which are adequete to their application.</p> 
				<p>For more Information about me send me an <a href="mailto:freysang@gmail.com" target="blank">E-Mail</a> or contact me via <a href="http://www.facebook.com/solothurn" target="_blank">Facebook</a>, <a href="https://www.xing.com/profile/Andreas_FreySang" target="_blank">Xing</a>, <a href="http://www.linkedin.com/pub/andreas-frey-sang/33/b15/82" target="blank">LinkedIn</a> or follow me on <a href="https://twitter.com/xinteractionx" target="blank">Twitter</a>. I would love <br>to hear from you!</p>
			</div>
		</section>
	</div>


	<div id="footer" class="fixedfooter">
		<div class="container">
			<footer class="row">
				<div class="twelvecol">
					<span>&copy; COPYRIGHT 2012 | ANDREAS FREY SANG</span> 		
					<a class="floatright" href="#home">
						<img src="images/lebutton.svg">
					</a>
				</div>
			</footer>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery.tinycarousel.min.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
	<script type="text/javascript" src="js/galleria/galleria-1.2.8.min.js"></script>
	<!-- important that included after all the markup, otherwise views won't work -->
	<script type="text/javascript" src="js/behance.js"></script>
	<script type="text/javascript">
		
		Galleria.loadTheme('js/galleria/themes/portfolio/galleria.portfolio.js');
		$(document).ready(function() {    
	    	BEHANCEAPP.init();
		});
		
	</script>

</body>

</html>